---
import Layout from "../layouts/Layout.astro";
import MailForm from "../components/MailForm.astro";
import ContactText from "../components/ContactText.astro";
---

<Layout>
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/2">
            <ContactText/>
        </div>
        <div class="w-full md:w-1/2">
            <MailForm/>
        </div>
    </div>
</Layout>