---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import Services from '../components/Services.astro';
import Experience from "../components/Experience.astro";
---

<Layout>
    <div class="flex flex-col gap-24 pb-24">
        <Hero/>
        <Services/>
        <Experience/>
        <!-- Additional components will automatically have spacing -->
    </div>
</Layout>