---
import SocialLink from "./SocialLink.astro"
import LinkedinIcon from "./icons/LinkedinIcon.astro"
import GitHubIcon from "./icons/GitHubIcon.astro"
import LocationIcon from "./icons/LocationIcon.astro"
import PhoneIcon from "./icons/PhoneIcon.astro"
import MailIcon from "./icons/MailIcon.astro"

const socialLinks = [
    {
        icon: LinkedinIcon,
        url: 'https://www.linkedin.com/in/leivsuaxy',
        name: 'Linkedin'
    },
    {
        icon: GitHubIcon,
        url: 'https://github.com/LeivSuaxy',
        name: 'GitHub'
    },
    {
        icon: LocationIcon,
        url: 'https://en.wikipedia.org/wiki/Cuba',
        name: 'Location'
    },
    {
        icon: PhoneIcon,
        url: '+53 56384377',
        name: 'Phone Number'
    },
    {
        icon: MailIcon,
        url: 'jleivsuaxy@gmail.com',
        name: 'Email'
    }
]
---

<!-- Greetings -->
<div class="p-8">
    <h1 class="text-white text-2xl font-bold mb-6">Something on mind? <br/> I can build a solution for you!</h1>
    <p class="text-white text-xl  mb-6">
        I’m excited to hear your ideas and collaborate with you in creating innovative solutions. Whether you need a web
        application, an API, or any other tech solution, my goal is to bring your vision to life. Together, we’ll
        explore
        the
        best options to take your project to the next level and enjoy the learning process that will help us grow. Reach
        out
        now and let’s start this journey!
    </p>
    <!-- Sites -->
    {socialLinks.map(item => (
            <SocialLink
                    url={item.url}
                    name={item.name}
            >
                <item.icon/>
            </SocialLink>
    ))}
</div>
