---
---

<div class="bg-amber-50 border-blue-900 rounded-lg w-3/6 h-3/6 mx-auto p-6 flex flex-col md:flex-row justify-between">
    <!-- Right Div (Imagen) -->
    <div class="mb-4 md:mb-0 md:order-2 xl:order-2">
        <a href="https://avatars.githubusercontent.com/u/127800936?s=400&u=c173e00e4e74da7ab20ed8eb05abe81aa6a584fe&v=4">
            <img class="rounded-full object-cover border-4 shadow-2xl w-auto h-auto" src="https://avatars.githubusercontent.com/u/127800936?s=400&u=c173e00e4e74da7ab20ed8eb05abe81aa6a584fe&v=4" alt="GitHub Profile Image"/>
        </a>
    </div>
    <!-- Left Div (Texto) -->
    <div class="mr-4">
        <div>
            <p class="text-3xl font-extrabold">Hi i'm LeivSuaxy</p>
            <p>Backend Web Developer</p>
            <p>Javier Leiva Suárez</p>
        </div>
        <div class="mt-4 max-w-xl">
            <p class="text-xl font-bold">
                Hi i'm an student of software web development inclined towards Back-End.
                Proficient in various framework like (Django/DRF/Nestjs), and languages (Python/C#/TypeScript).
                Competitive personality with desire to improve, able to effectively self-manage during independent projects,
                as well as collaborate as part of a productive team.
            </p>
        </div>
    </div>
</div>

<style>

</style>