---
const { url, name } = Astro.props;
---

<div class="social-link">
    <div class="icon">
        <slot />
    </div>
    <div class="info">
        <span class="url">{name}</span>
        <a class="text-xl text-blue-700 hover:text-blue-500 decoration-1" href={url}>{url}</a>
    </div>
</div>

<style>
    .social-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .icon {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
        border-radius: 8px;
    }

    .info {
        display: flex;
        flex-direction: column; /* Cambia la disposición a columna */
    }

    .url {
        font-size: 1.35rem;
        line-height: 1.85rem;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 0.2rem; /* Espaciado entre el nombre y el enlace */
    }

    a {
        word-break: break-word; /* Asegura que las URLs largas se dividan si es necesario */
    }
</style>
